.shopping-cart-empty{
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
}


.shop{
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop-order{
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px
}

.shopping-c {
  color: rgb(40, 40, 40);
font-family: Montserrat;
font-size: 64px;
font-weight: 700;
line-height: 110%;
letter-spacing: 0%;
text-align: left;
}

.lines {
  height: 1px;
  max-width: 680px;
  width: 100%;
  background-color: #DDD;
  flex-grow: 1;
}
.looks{
  display: flex;
  justify-content: start;
  color: rgb(40, 40, 40);
font-family: Montserrat;
font-size: 20px;
font-weight: 500;
line-height: 130%;
letter-spacing: 0%;
text-align: left;
padding-left: 50px;
}

.shopping-cart {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; 
}

.cart-items {
  max-width: 800px;
}

.cart-item {
  position: relative;
  max-width: 780px;
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  
}

.cart-item img {
  width: 200px;
  height: auto;
  margin: 0px 32px;
  box-sizing: border-box;
/* grey divider */
border: 1px solid rgb(221, 221, 221);
border-radius: 12px 0px 0px 12px;

}

.item-details {
  display: flex;
  align-items: center;
}

.quantity {
  display: flex;
  align-items: center;
}

.number {
border-bottom: 1px solid rgb(221, 221, 221);
border-top: 1px solid rgb(221, 221, 221);
width: 110px;
height: 58px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
}

.item-price {
  display: flex;
  flex-direction: column;
}

.order-details {
  max-width: 548px;
  width: 100%;
  height: auto;
  display: flex;
flex-direction: column;
justify-content: flex-start;
  padding: 0px 32px;
  border-radius: 12px;
  background: rgb(241, 243, 244);
}

.user-details input {
  max-width: 484px;
  width: 100%;
  height: 58px;
  margin-bottom: 10px;
  padding: 16px 32px 16px 32px;
}
.remove{
  position: absolute;
  width: 12px;
  height: 12px;
  color: black;
  right: 20px;
  top: 5px;
font-size: 44px;

  
}

.counter{
color: rgb(139, 139, 139);
max-width: 58px;
width: 100%;
height: 58px;
display: flex;
font-size: 44px;

flex-direction: column;
justify-content:center;
align-items: center;
padding: 10px;
/* margin: 0px 10px; */
  box-sizing: border-box;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  
}
.order{
  position: static;
  max-width: 484px;
  width: 100%;
  height: 58px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 56px 16px 56px;
margin: 32px 0px;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
background: rgb(51, 153, 51);
}
.inform{
  max-width: 484px;
  width: 100%;
  height: auto;
  margin: 32px 0px;
}
.inform > h3{
  color: rgb(40, 40, 40);
font-family: Montserrat;
font-size: 40px;
font-weight: 700;
line-height: 110%;
letter-spacing: 0%;
text-align: left;
margin-bottom: 24px;
}
.inform > p {
  color: rgb(139, 139, 139);
font-family: Montserrat;
font-size: 40px;
font-weight: 500;
line-height: 130%;
letter-spacing: 0%;
text-align: left;
margin: 0px 0px;
padding: 0px;
}

