.discounted-h2{
width: 1360px;
height: 70px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding-left: 50px;
margin: 40px 0px;
color: rgb(40, 40, 40);
font-family: Montserrat;
font-size: 64px;
font-weight: 700;
}