.footer-container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  /* height: auto; */
  /* padding: 20px; */
}

.footer-h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 70.4px;
  text-align: left;
  margin-left: 50px;
}

.footer-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  max-width: 1360px;
  width: 100%;
  height: 376px;
  margin: 0 auto;
  border-radius: 12px;
  margin-bottom: 100px;
}

.footer-h3 {
  color: #8b8b8b;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  padding: 12px;
  letter-spacing: 0em;
  text-align: left;
}

.card {
  color: #282828;
  font-family: "Montserrat";
  background: #f1f3f4;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  flex: 1 0 47%;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 32px;
}
.card-width {
  width: 780px;
  height: 194px;
}
.card-soc-work {
  width: 548px;
  height: 194px;
}
.social {
  width: 44px;
  height: 44px;
  margin: 20px;
}
.social-image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.social-whatsapp {
  background-image: url(./icon/ic-whatsapp.png);
  background-repeat: no-repeat;
}
.social-instagram {
  background-image: url(./icon/Insta.png);
  background-repeat: no-repeat;
}
.maps-container {
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1360px;
  height: 350px;
  padding-top: 32px;
  margin-bottom: 80px;
  padding-left: 50px;
}

.map.full-width {
  flex: 1 0 100%;
  margin-right: 0;
}

@media (max-width: 768px) {
  .footer-cards {
    width: 100%;
  }
}
