.header {
  height: 68px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  border: none;
  width: 44px !important;
  height: 44px !important;
}

.nav {
  display: none;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons button:not(:last-of-type) {
  margin-right: 20px;
}

.menu,
.cart {
  position: relative;
  width: 44px;
  height: 44px;
  padding: 6px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
}

.menu img,
.cart img {
  border: none;
  width: 100% !important;
  height: unset;
}

.badge {
  position: absolute;
  top: 8px;
  left: 4px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #339933;
  color: #fff;
  font-size: 8px;
  font-weight: 600;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

.overlay:global(.hidden) {
  display: none;
}

.overlay:globla(.open) {
  animation-name: overlay-in;
}

.overlay:global(.closed) {
  animation-name: overlay-out;
}

.aside {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  background-color: #fff;
  width: min(70%, 282px);
  height: 100%;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

.aside:global(.hidden) {
  display: none;
}

.aside:global(.closed) {
  animation-name: aside-out;
}

.aside:globla(.open) {
  animation-name: aside-in;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 44px;
  height: 44px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
}

.close img {
  border: none;
  width: 100% !important;
  height: unset;
}

.mobileNav {
  margin-top: 100px;
  padding-left: 32px;
  display: flex;
  flex-direction: column;
}

.mobileNav a:not(:last-of-type) {
  margin-bottom: 32px;
}

.mobileNav a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #282828;
}

@media screen and (min-width: 480px) {
  .mobileNav a:not(:last-of-type) {
    margin-bottom: 36px;
  }

  .mobileNav a {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 110px;
  }

  .logo {
    width: 70px !important;
    height: 70px !important;
  }

  .nav {
    display: flex;
    align-items: center;
  }

  .nav a:not(:last-of-type) {
    margin-right: 20px;
  }

  .nav a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #282828;
  }

  .buttons button:not(:last-of-type) {
    margin-right: 0;
  }

  .cart {
    width: 48px;
    height: 48px;
  }

  .menu {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .header {
    height: 128px;
  }

  .nav a:not(:last-of-type) {
    margin-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
}

@keyframes overlay-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes overlay-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes aside-out {
  from {
    transform: translateX(0);
    visibility: visible;
  }
  to {
    transform: translateX(100%);
    visibility: hidden;
  }
}

@keyframes aside-in {
  from {
    transform: translateX(100%);
    visibility: hidden;
  }
  to {
    transform: translateX(0);
    visibility: visible;
  }
}
